/*Reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*
## Colores

### Primarios

- Tomate: #ff6347

### Neutros

- Gris Pizarra Oscuro: #2d2a36
- Gris Carbón: #3b3c45
- Gris: #97979e
- Blanco: #ffffff

//media queries
- Móvil: 375px
- Escritorio: 1440px



*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /*fonts*/



body{
    background-color: #2d2a36;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh; /*ojo*/ /*means that the minimum height of an element should be 100% of the viewport height*/
    
}



p ul li{
    font-size: 1rem;
}


h1,h2{
    font-family:"Roboto", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 50px;
}

#form-wrapper{
    display: flex; /*De sacar el display flex, todo lo que esta dentro del wrapper no se mostraria de manera horizontal*/
    width: 900px;
    min-height: 550px;
    background-color: white;
    padding: 30px;
    border-radius: 40px;
    
    
}

#sign-title{
    color: #2d2a36;
    margin-top: 50px;
    margin-left: 25px;
}

#form-wrapper p{
    
    margin-top: 20px;
    margin-left: 30px;
    font-size: 1rem;
    font-family:"Roboto", sans-serif ;
    font-weight: 400;
}

.l-card{
    width: 55%;
    margin-left: 30px;
    margin-right: 40px;
}

.r-card{
    width: 45%;
}

.r-card img{
    
    width: 105%;
    height: 100%;
}

ul{
    list-style-image:url(./resources/icon-list.svg) ;
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 50px;
}

li{
    margin-bottom: 12px;
}

form{
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: 25px;
    margin-top: 20px;
    font-family:"Roboto", sans-serif ; 
    font-size: 11px;
    font-weight: 700;
    
}

input{
    
    font-family:"Roboto", sans-serif ; 
    font-weight: 400;
    padding: 9px;
    border-radius: 6px;
    border-width: 1px;
    margin-top: 10px;
    outline: none;
    

}
button{
    margin-top: 20px;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    background-color: #1f1e55;
    color: white;
    border-radius: 10px;
}


@media (min-width: 1200px) {

    .mobile{
        display: none;
    }

}


@media (max-width:600px) { /*Funciona, pero quizas 375px es muy chico*/

    #form-wrapper {
        flex-direction: column-reverse;
        width: 90%;
        padding: 0%;
        justify-content: center;
        align-items: center;
    }

    body{
        background-color: #2d2a36;
        padding: 0;
        margin: 0;
    }

    .r-card{
        width: 90%;
        padding-left: 10px;
    }

    .l-card{
        width: 100%;
        padding: 10px;
        padding-right: 30px;
    }

    .r-card img{
        content: url("./resources/illustration-sign-up-mobile.svg");
        border-radius: 25px;
       
        
    }

    form{
        width: 90%;
    }
}

